<!doctype html>
<html>
<head>
<title>All Staff</title>
<!----------------------external link--------------------->
	<link rel="stylesheet" type="text/css" href="/static/IvFN.css" />
	<style>
		form {
			text-align: center;
		}
	</style>
</head>
<!----------------------header--------------------->
<body>
<center>
<div id="IvFN">
    <div id="IvFNH1" class="IvFNH1">
		<a href="/"><img src="{{url_for('static', filename='/IMG/logo.png')}}" class="logo" alt="logo"></a>
        <h1 class="IvFNH1">All Staff Details</h1>
		<br/>
	</div>
	<div id="IvFNHead" class="IvFNHead">
		<ul class="menu">
		<li><a href="/" class="current">Home</a></li>
			<li><a href="/staffpage">Add Staff</a></li>
			<li><a href="/searchstaffpage">Search Staff</a></li>
			<li><a href="/searchpay">Payroll</a></li>
			<li><a href="/getattendance">Attendance</a></li>
		</ul>
	</div>
<!-------------------------content------------------------>
    <div id="IvFNP">
		<table border="1"> 
			<thead> 
			<tr> 
				<th>Emp ID</th> 
				<th>Name</th>
				<th>Phone No.</th>
				<th>Email</th>
				<th>Position</th>
				<th>Department</th>
				<th>Joined Date</th>
				<th>Salary (RM)</th>
			</tr> 
			</thead> 
			<tbody> 
			{% for row in value %}  
				<tr> 
					<td>{{row[0]}}</td> 
					<td>{{row[1]}}</td>
					<td>{{row[2]}}</td>
					<td>{{row[3]}}</td>
					<td>{{row[4]}}</td>
					<td>{{row[5]}}</td>
					<td>{{row[6]}}</td>
					<td>{{row[7]}}</td>
				</tr> 
			{% endfor %} 
			</tbody> 
		</table> 
		
    </div>
	<br/>
</div>
</center>
</body>
</html>
