<!doctype html>
<html>
<head>
<title>Attendance Output</title>
<!----------------------external link--------------------->
    <link rel="stylesheet" type="text/css" href="IvFN.css"/>
	<style>
		form {
			text-align: center;
		}
		
		#sea a{
			text-decoration: none;
			color:#EDDCDC;
		}
	</style>
</head>
<!----------------------header--------------------->
<body>
<center>
<div id="IvFN">
    <div id="IvFNH1" class="IvFNH1">
		<a href="HomePage.html"><img src="IMG/logo.png" class="logo" alt="logo"></a>
        <h1 class="IvFNH1">Saved Successfully</h1>
		<br/>
	</div>
	<div id="IvFNHead" class="IvFNHead">
		<ul class="menu">
			<li><a href="HomePage.html" class="current">Home</a></li>
			<li><a href="AddStaff.html">Add Staff</a></li>
			<li><a href="SearchStaff.html">Search Staff</a></li>
			<li><a href="Payroll.html">Payroll</a></li>
			<li><a href="Attendance.html">Attendance</a></li>
		</ul>
	</div>
<!-------------------------content------------------------>
    <div id="IvFNP">
			<h2>All Employee attendance has been added to the database</h2><br>
				<form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">
					<div id="sea">
					<button type="submit" style="background: #391627; height: 45px; width: 200px; color: #EDDCDC; size: 5; font:oblique;"><a href="HomePage.html">GO BACK</a></button><br><br>
					</div>
				</form>
    </div>
    </div>
	<br/>
</div>
</center>
</body>
</html>
