<!doctype html>
<html>
<head>
<title>Home Page</title>
<!----------------------external link--------------------->
    <link rel="stylesheet" type="text/css" href="IvFN.css"/>
	<style>
		.container {
			position: relative;
			text-align: center;
			color: white;
		}
		.centered {
			position: absolute;
			top: 50%;
			left: 200px;
			font-size: 40px;
			font-family: Century Gothic; 
		}
	</style>
</head>
<!----------------------header--------------------->
<body>
<center>
<div id="IvFN">
    <div id="IvFNH1" class="IvFNH1">
		<a href="HomePage.html"><img src="IMG/logo.png" class="logo" alt="logo"></a>
        <h1 class="IvFNH1">Home Page</h1>
		<br/>
	</div>
	<div id="IvFNHead" class="IvFNHead">
		<ul class="menu">
			<li><a href="/" class="current">Home</a></li>
			<li><a href="AddStaff.html">Add Staff</a></li>
			<li><a href="SearchStaff.html">Search Staff</a></li>
			<li><a href="Payroll.html">Payroll</a></li>
			<li><a href="Attendance.html">Attendance</a></li>
			<li><a href="Benefits.html">Benefits</a></li>
		</ul>
	</div>
<!-------------------------content------------------------>
    <div id="IvFNP">
		<div class="container">
		<img src="IMG/homepage.png" class="home" alt="home" style="width:100%;">
		<div class="centered">Hello, Welcome to IvFN HRMS !</div>
	</div>
    </div>
	<br/>
</div>
</center>
</body>
</html>
