<!doctype html>
<html>
<head>
	<title>Payroll</title>
	<!----------------------external link--------------------->
	<link rel="stylesheet" type="text/css" href="/static/IvFN.css" />
	<style>
		form {
			text-align: center;
		}

		#sea a {
			text-decoration: none;
			color: #EDDCDC;
		}
	</style>
</head>
<!----------------------header--------------------->
<body>
<center>
<div id="IvFN">
	<div id="IvFNH1" class="IvFNH1">
		<a href="/"><img src="{{url_for('static', filename='/IMG/logo.png')}}" class="logo" alt="logo"></a>
		<h1 class="IvFNH1">Payroll</h1>
		<br />
	</div>
	<div id="IvFNHead" class="IvFNHead">
		<ul class="menu">
			<li><a href="/" class="current">Home</a></li>
			<li><a href="/staffpage">Add Staff</a></li>
			<li><a href="/searchstaffpage">Search Staff</a></li>
			<li><a href="/searchpay">Payroll</a></li>
			<li><a href="Attendance.html">Attendance</a></li>
		</ul>
	</div>
<!-------------------------content------------------------>
    <div id="IvFNP">
		<form autocomplete="on" method="post">

			<div>

				Employee ID:<br> {{ idd }} <br><br>

				Name:<br> {{ name }} <br><br>

				Position:<br> {{ position }} <br><br>

				Department: <br> {{ department }} <br><br>

				Current Salary (RM): <br> {{ salary }} <br><br>

				Update Salary (RM):<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="emp_salary"><br><br>

				<div id="sea">
					<button type="submit" style="background: #391627; height: 30px; width: 100px; color: #EDDCDC; size: 5; font:oblique;"formaction="/searchpay">GO BACK</button> &nbsp&nbsp&nbsp&nbsp&nbsp
					<button type="submit" style="background: #391627; height: 30px; width: 100px; color: #EDDCDC; size: 5; font:oblique;" formaction="/updatesalary">SAVE</button>
				</div>
			</div>

		</form>
		
    </div>
	<br/>
</div>
</center>
</body>
</html>
