<!doctype html>
<html>
<head>
<title>View Staff</title>
<!----------------------external link--------------------->
    <link rel="stylesheet" type="text/css" href="IvFN.css"/>
	<style>
		form {
			text-align: center;
		}
	</style>
</head>
<!----------------------header--------------------->
<body>
<center>
<div id="IvFN">
    <div id="IvFNH1" class="IvFNH1">
		<a href="HomePage.html"><img src="IMG/logo.png" class="logo" alt="logo"></a>
        <h1 class="IvFNH1">View Staff Details</h1>
		<br/>
	</div>
	<div id="IvFNHead" class="IvFNHead">
		<ul class="menu">
			<li><a href="HomePage.html" class="current">Home</a></li>
			<li><a href="AddStaff.html">Add Staff</a></li>
			<li><a href="SearchStaff.html">Search Staff</a></li>
			<li><a href="Payroll.html">Payroll</a></li>
			<li><a href="Attendance.html">Attendance</a></li>
			<li><a href="Benefits.html">Benefits</a></li>
		</ul>
	</div>
<!-------------------------content------------------------>
    <div id="IvFNP">
		<form>

				<div>
					
					Image URL: <br> {{ image_url }} <br><br>
					
			  		Employee ID:<br> {{ id }} <br><br>

			  		Name:<br> {{ name }} <br><br>

			  		Phone No.:<br> {{ phone }} <br><br>

			  		Email:<br> {{ email }} <br><br>

			  		Position:<br> {{ position }} <br><br>

			  		Department: <br> {{ department }} <br><br>
					
					Joined Date:<br> {{ joinDate }} <br><br>

			  		Salary: <br> {{ salary }} <br><br>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="http://3.134.115.108:80/getemp">RESET</button><br><br>

			  	</div>

		</form>
    </div>
	<br/>
</div>
</center>
</body>
</html>
